html, body {
    margin: 0;
    padding: 0;
    background-color: #fefae0;
}
.banner {
    display: flex;
    align-items: center;
    border: 1px solid #ccd5ae;
    background-color: #dbe1b5;
    padding: 10px 20px;
}
.banner-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.banner h1 {
    font-size: 24px;
    font-family: Arial, sans-serif;
    margin: 0;
}
.content{
    margin: 15%;
    margin-top: 5%;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
ul {
list-style-type: disc;
margin-left: 20px;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
th, td {
    border: 1px solid #ccd5ae;
    background-color: #e9edc9;
    padding: 8px;
    text-align: left;
}
button {
    margin: 0px;
    background-color: #ccd5ae;
    border: 2px solid #adb593;
    border-radius: 10px;
}
button:hover {
    margin: 0px;
    background-color: #bdc6a0;
    border: 2px solid #92987c;
}
table input {
    box-sizing: border-box;
}
.delete-button {
    width: 30px;
    height: 30px;
    font-size: larger;
    color: #eb1d1d;
    background-color: #f28080;
    border: 1px solid #eb1d1d;
    border-radius: 10%;
}
.delete-button:hover {
    color: #f28080;
    background-color: #e24040;
    border: 1px solid #f28080;
}